table{
    border: solid black 1px;
}
table tr{
    border: solid black 1px;
}

table td{
    border: solid black 1px;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.negras{
    border: solid black 1px;
    background-color: gray;
    width: 50px;
    height: 50px;
    font-size: 40px;

}

.blancas{
    border: solid black 1px;
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 40px;
}
